<header>
    <img src="assets/img/perfil.jpg" alt="Rafael Douetts - Foto de Perfil" width="130px" height="130px" loading="eager">
    <!-- alt ajuda no motor de busca e pessoas com deficiencia a saber do que se trata a imagem -->
    <!-- definir a largura e altura tambem ajuda no motor de busca -->
    <!-- loading faz o navegador ja carregar a imagem -->
    <h1>Rafael Douetts</h1>
</header>

<aside>
    <div class="container">
        <p>Full-stack Javascript | Angular | .Net | Azure architect solution</p>
        <p>São Paulo, São Paulo, Brasil</p>
        <div class="info">

            <h1> 🔹 Formação:</h1>
            <p>Bacharelado em Sistemas de Informação pela <strong> UNIP</strong></p>
            <p> Especialização em Arquitetura de Sistemas .Net com Azure pela <strong>FIAP</strong></p>

            <h2>🔹 Principais Competências:</h2>
            <p> <strong>Desenvolvimento:</strong> .NET (Windows Forms, APIs RESTful, microserviços)</p>
            <p><strong>Mensageria:</strong> experiência com RabbitMQ e Event Bus</p>
            <p><strong>Testes Automatizados:</strong> envolvimento com diversos tipos de testes, como unitários,
                integração, E2E, qualidade,
                segurança, regressivos e A/B</p>
            <p><strong>Docker: </strong>utilizo para otimizar e automatizar processos de testes, garantindo maior
                eficiência e
                confiabilidade</p>
            <p><strong>Arquitetura de Software:</strong> familiaridade com CQRS, Event Sourcing e boas práticas de
                arquitetura limpa
                Desenvolvimento Ágil: forte aderência a metodologias ágeis, buscando sempre a entrega contínua de valor
            </p>
        </div>

        <nav>
            <ul>
                <li><a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a></li>
                <li><a href="https://www.linkedin.com/in/rafael-douetts-13087718b/" target="_blank"
                        class="btn btn-secondary">
                        LinkedIn
                    </a></li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Icone para contato do WhatsApp" width="22px" height="24px">

                <figcaption>
                    <a href="https://wa.me/5511974247544?text=Oi,%20estou%20procurando%20por%20alguém%20com%20suas%20habilidades%20para%20um%20projeto.%20Você%20teria%20interesse%20em%20conversar%20sobre%20como%20podemos%20trabalhar%20juntos?"
                        target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (11) 9 74247544</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="assets/icons/mail.svg" alt="Icone para contato do e-mail" width="22px" height="24px">

                <figcaption>
                    <a href="mailto:r_santos07@outlook.com">
                        <strong>Envie um e-mail para:</strong>
                        <p>r_santos07&#64;outlook.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>