<div>

    <header style="display: flex; justify-content: space-between; align-items: center;">
        <div style="color: white; font-size: 0.5rem;">
            <h2>Rafael Douetts</h2>
            <!-- <p>Arquiteto de Software | Angular, ASP.NET Core, Azure, Docker, Kubernetes</p> -->
            <h2>Sistema de informacao (<strong> UNIP) </strong>| Arquiteto de Software <strong>(FIAP)</strong> | Azure Developer Associate <strong>(KA SOLUTION</strong>)</h2>
        </div>

        <ul style="display: flex; flex-direction: row; list-style: none; padding: 0; margin: 0;">
            <li
                style="margin-right: 20px; font-size: 18px; color: white; font-family: Arial, sans-serif; text-transform: uppercase;">
                <a href="#" style="color: white; text-decoration: none; transition: color 0.3s;">
                    Home
                </a>
            </li>
            <li
                style="margin-right: 20px; font-size: 18px; color: white; font-family: Arial, sans-serif; text-transform: uppercase;">
                <a href="https://github.com/rafaeldouetts" style="color: white; text-decoration: none; transition: color 0.3s;" target="_blank" rel="noopener noreferrer">
                    GitHub
                </a>                
            </li>
            <li
                style="margin-right: 20px; font-size: 18px; color: white; font-family: Arial, sans-serif; text-transform: uppercase;">
                <a href="#projetos" style="color: white; text-decoration: none; transition: color 0.3s;">
                    Projetos
                </a>
            </li>
            <li style="font-size: 18px; color: white; font-family: Arial, sans-serif; text-transform: uppercase;">
                <a href="https://www.linkedin.com/in/rafael-douetts-13087718b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" style="color: white; text-decoration: none; transition: color 0.3s;">
                    Contatos
                </a>
            </li>
        </ul>
    </header>

    <body>

        <!-- Sobre Mim Section -->

        <section class="about">

            <div style="margin-top: 5%;" class="container">

                <div class="typing-text">
                    <div class="typing-line delay-1">Arquitetura de Soluções e Desenvolvimento Full Stack,</div>
                    <div class="typing-line delay-2">entregando soluções robustas e testadas, com ênfase em boas
                        práticas de
                        qualidade</div>
                    <div class="typing-line delay-3">e processos automatizados, para posicionar seu produto com sucesso
                        no
                        mercado.</div>
                </div>

                <div class="fade-in-text">Este texto vai aparecer gradualmente!</div>

                <!-- <p>Arquiteto de Software | Angular, ASP.NET Core, Azure, Docker, Kubernetes</p> -->

                <!-- <p>Sou Arquiteto de Software com experiência no desenvolvimento de soluções escaláveis e inovadoras.
                    Trabalho com Angular, ASP.NET Core e diversas ferramentas Azure. Adoro desafios que envolvem
                    arquitetura de sistemas, automação e monitoramento.</p> -->
            </div>

            <div class="Habilidades">
                <h1 style="display: flex; align-items: center; margin-left: 7%;">Skills </h1>
                <ul class="technology-list">
                    <li class="card">Prometheus</li>
                    <li class="card">Grafana</li>
                    <li class="card">Docker</li>
                    <li class="card">Specflow</li>
                    <li class="card">Angular</li>
                    <li class="card">TypeScript</li>
                    <li class="card">SASS</li>
                    <li class="card">Storybook</li>
                    <li class="card">C#</li>
                    <li class="card">HTML 5</li>
                    <li class="card">CSS 3</li>
                    <li class="card">xunit</li>
                    <li class="card">selenium</li>
                    <li class="card">angular material</li>
                    <li class="card">azure blob</li>
                    <li class="card">Kubernetes</li>
                    <li class="card">Azure kubernetes service</li>
                    <li class="card">azure container registry</li>
                    <li class="card">azure app service</li>
                    <li class="card">azure static app</li>
                    <li class="card">rabbitMQ</li>
                    <li class="card">SonnarQube</li>
                    <li class="card">azure macchine</li>
                    <li class="card">github actions</li>
                    <li class="card">redis</li>
                    <li class="card">sql Server</li>
                    <li class="card">MongoDb</li>
                    <li class="card">postgres</li>
                    <li class="card">Entra ID</li>
                    <li class="card">docker</li>
                    <li class="card">Azure Functions</li>
                    <li class="card">SignalR</li>
                </ul>
            </div>

        </section>

        <!-- <section style="border-color: red; border: solid; display: flex; justify-content: center; width: 100%; margin-left: 7%; margin-right: 7%;">
            <div style="width: 50%;">
               <p>image</p> 
            </div>
            <div style="width: 50%;">
                <h1 class="color-primary">Quem sou eu </h1>
                <p>Arquiteto de Software | Angular, ASP.NET Core, Azure, Docker, Kubernetes</p>
                <p>Meu nome é Rafael Douetts, sou formado em Sistemas de Informação pela UNIP e pós-graduado em
                    Arquitetura de Software pela FIAP.</p>
                <p>Sou um entusiasta da tecnologia e tenho grande interesse no desenvolvimento de soluções desde o
                    início até a sua conclusão.</p>
            </div>
        </section> -->

        <!-- Habilidades Técnicas Section -->

        <!--<section class="skills">

            <div class="container">

                <h2>Minhas Competências Técnicas</h2>

                <ul>

                    <li><strong>Frontend</strong>: Angular</li>

                    <li><strong>Backend</strong>: ASP.NET Core</li>

                    <li><strong>Automação de Testes</strong>: Selenium, Selenium Hub</li>

                    <li><strong>Cloud</strong>: Azure (Azure Functions, Azure Blob Storage, App Services, AKS)</li>

                    <li><strong>Containers</strong>: Docker, Kubernetes (AKS)</li>

                    <li><strong>Monitoramento</strong>: Prometheus, Grafana</li>

                    <li><strong>CI/CD</strong>: Azure DevOps, GitHub Actions</li>

                    <li><strong>Metodologias Ágeis</strong>: Scrum, Kanban</li>

                    <li><strong>Bancos de Dados</strong>: SQL Server, MongoDB</li>

                </ul>

            </div>

        </section>-->



        <!-- Projetos Section -->

        <section class="projects" id="projetos">

            <div class="container">

                <h2>Projetos Relevantes</h2>

                <div class="project">

                    <h3>Sistema de Gestão de Praticas ageis (BEEFOR)</h3>

                    <p><strong>Tecnologias:</strong> Angular, ASP.NET Core, SignalR</p>

                    <p><strong>Descrição:

                    </strong> Desenvolvi uma aplicação robusta para a gestão de práticas ágeis, integrando funcionalidades essenciais como autenticação segura, controle de autorização e sistema de notificações em tempo real. A aplicação visa otimizar o gerenciamento de equipes e projetos, proporcionando uma experiência eficiente e segura para os usuários.</p>

                </div>

                <div class="project">

                    <h3>Sistema Fidelidade (CacauShow)</h3>

                    <p><strong>Tecnologias:</strong> Angular, ASP.NET Core, Azure Functions, AKS, Docker, Prometheus, Grafana, Redis, MongoDb, Selenium hub</p>
                    <p><strong>Descrição:</strong> Desenvolvimento de uma plataforma de fidelidade com benefícios estratégicos, projetada para estreitar o relacionamento com os clientes. A solução foi implementada utilizando Azure Kubernetes Service (AKS) e Docker, garantindo escalabilidade, alta disponibilidade e flexibilidade para suportar o crescimento contínuo da base de usuários e a demanda de tráfego.</p>

                </div>

                <div class="project">

                    <h3>Plataforma de Monitoramento de Infraestrutura em Nuvem</h3>

                    <p><strong>Tecnologias:</strong> Prometheus, Grafana, Docker, Azure Monitor, AKS</p>

                    <p><strong>Descrição:</strong> Desenvolvi uma solução de monitoramento de infraestrutura e
                        aplicações na nuvem, com visualizações detalhadas no Grafana e coleta de métricas com
                        Prometheus.</p>

                </div>

                <div class="project">

                    <h3>Planning Poker</h3>

                    <p><strong>Tecnologias:</strong> Angular, ASP.NET Core, Azure Functions, AKS, Docker, Prometheus, Grafana, Redis, Selenium hub, SignalR</p>

                    <p><strong>Descrição:</strong> Desenvolvi uma solução para atribuição de pontos em tarefas, utilizando a metodologia de Planning Poker. A principal intenção foi criar um sistema em tempo real que facilitasse a estimativa colaborativa de esforços e ajudasse na priorização de atividades dentro de equipes ágeis, promovendo maior clareza e eficiência no planejamento de projetos.</p>

                </div>

            </div>

        </section>



        <!-- Footer Section -->

        <footer>

            <div class="container">

                <p>© 2024 Rafael Douetts - Todos os direitos reservados</p>

            </div>

        </footer>

    </body>

</div>
