<div>

    <header style="display: flex; justify-content: start; align-items: center;">
        <div style="width: 50%;">
            <h2>Rafael Douetts</h2>
            <!-- <p>Arquiteto de Software | Angular, ASP.NET Core, Azure, Docker, Kubernetes</p> -->
            <p>Sistema de informacao | Arquiteto de Software | az204</p>
        </div>

        <ul style="display: flex; flex-direction: row; list-style: none; padding: 0; margin: 0;">
            <li
                style="margin-right: 20px; font-size: 18px; color: white; font-family: Arial, sans-serif; text-transform: uppercase;">
                <a href="#" style="color: white; text-decoration: none; transition: color 0.3s;">
                    Home
                </a>
            </li>
            <li
                style="margin-right: 20px; font-size: 18px; color: white; font-family: Arial, sans-serif; text-transform: uppercase;">
                <a href="#" style="color: white; text-decoration: none; transition: color 0.3s;">
                    GitHub
                </a>
            </li>
            <li
                style="margin-right: 20px; font-size: 18px; color: white; font-family: Arial, sans-serif; text-transform: uppercase;">
                <a href="#" style="color: white; text-decoration: none; transition: color 0.3s;">
                    Projetos
                </a>
            </li>
            <li style="font-size: 18px; color: white; font-family: Arial, sans-serif; text-transform: uppercase;">
                <a href="#" style="color: white; text-decoration: none; transition: color 0.3s;">
                    Contatos
                </a>
            </li>
        </ul>
    </header>

    <body>

        <!-- Sobre Mim Section -->

        <section class="about">

            <div style="margin-top: 5%;" class="container">

                <div class="typing-text">
                    <div class="typing-line delay-1">Arquitetura de Soluções e Desenvolvimento Full Stack,</div>
                    <div class="typing-line delay-2">entregando soluções robustas e testadas, com ênfase em boas práticas de
                        qualidade</div>
                    <div class="typing-line delay-3">e processos automatizados, para posicionar seu produto com sucesso no
                        mercado.</div>
                </div>

                <div class="fade-in-text">Este texto vai aparecer gradualmente!</div>

                <!-- <p>Arquiteto de Software | Angular, ASP.NET Core, Azure, Docker, Kubernetes</p> -->

                <!-- <p>Sou Arquiteto de Software com experiência no desenvolvimento de soluções escaláveis e inovadoras.
                    Trabalho com Angular, ASP.NET Core e diversas ferramentas Azure. Adoro desafios que envolvem
                    arquitetura de sistemas, automação e monitoramento.</p> -->
            </div>

            <div class="Habilidades">
                <ul class="technology-list">
                    <li class="card">Prometheus</li>
                    <li class="card">Grafana</li>
                    <li class="card">Docker</li>
                    <li class="card">Specflow</li>
                    <li class="card">Angular</li>
                    <li class="card">TypeScript</li>
                    <li class="card">SASS</li>
                    <li class="card">Storybook</li>
                    <li class="card">C#</li>
                    <li class="card">HTML 5</li>
                    <li class="card">CSS 3</li>
                    <li class="card">xunit</li>
                    <li class="card">selenium</li>
                    <li class="card">angular material</li>
                    <li class="card">azure blob</li>
                    <li class="card">Kubernetes</li>
                    <li class="card">Azure kubernetes service</li>
                    <li class="card">azure container registry</li>
                    <li class="card">azure app service</li>
                    <li class="card">azure static app</li>
                    <li class="card">rabbitMQ</li>
                    <li class="card">SonnarQube</li>
                    <li class="card">azure macchine</li>
                    <li class="card">github actions</li>
                </ul>
            </div>

        </section>

        <!-- Habilidades Técnicas Section -->

        <section class="skills">

            <div class="container">

                <h2>Minhas Competências Técnicas</h2>

                <ul>

                    <li><strong>Frontend</strong>: Angular</li>

                    <li><strong>Backend</strong>: ASP.NET Core</li>

                    <li><strong>Automação de Testes</strong>: Selenium, Selenium Hub</li>

                    <li><strong>Cloud</strong>: Azure (Azure Functions, Azure Blob Storage, App Services, AKS)</li>

                    <li><strong>Containers</strong>: Docker, Kubernetes (AKS)</li>

                    <li><strong>Monitoramento</strong>: Prometheus, Grafana</li>

                    <li><strong>CI/CD</strong>: Azure DevOps, GitHub Actions</li>

                    <li><strong>Metodologias Ágeis</strong>: Scrum, Kanban</li>

                    <li><strong>Bancos de Dados</strong>: SQL Server, MongoDB</li>

                </ul>

            </div>

        </section>



        <!-- Projetos Section -->

        <section class="projects">

            <div class="container">

                <h2>Projetos Relevantes</h2>

                <div class="project">

                    <h3>Sistema de Gestão de Contas Bancárias</h3>

                    <p><strong>Tecnologias:</strong> Angular, ASP.NET Core, Azure SQL, Docker, Prometheus, Grafana</p>

                    <p><strong>Descrição:</strong> Desenvolvi uma aplicação para a gestão de contas bancárias com
                        funcionalidades como autenticação, controle de transações e relatórios financeiros. A aplicação
                        foi otimizada com o uso de Prometheus e Grafana para monitoramento.</p>

                </div>

                <div class="project">

                    <h3>Sistema de Inventário de Produtos em E-commerce</h3>

                    <p><strong>Tecnologias:</strong> Angular, ASP.NET Core, Azure Functions, AKS, Docker</p>

                    <p><strong>Descrição:</strong> Criação de uma plataforma de controle de inventário para e-commerce,
                        utilizando Azure Kubernetes Service (AKS) e Docker para escalabilidade e alta disponibilidade.
                    </p>

                </div>

                <div class="project">

                    <h3>Plataforma de Monitoramento de Infraestrutura em Nuvem</h3>

                    <p><strong>Tecnologias:</strong> Prometheus, Grafana, Docker, Azure Monitor, AKS</p>

                    <p><strong>Descrição:</strong> Desenvolvi uma solução de monitoramento de infraestrutura e
                        aplicações na nuvem, com visualizações detalhadas no Grafana e coleta de métricas com
                        Prometheus.</p>

                </div>

            </div>

        </section>



        <!-- Footer Section -->

        <footer>

            <div class="container">

                <p>© 2024 Rafael Douetts - Todos os direitos reservados</p>

            </div>

        </footer>

    </body>

</div>
