
@if(!isDesktop){
<div class="burger-menu" (click)="toggleMenu()">
    <div class="bar1" [class.change]="menuOpen"></div>
    <div class="bar2" [class.change]="menuOpen"></div>
    <div class="bar3" [class.change]="menuOpen"></div>
  </div>
  <div class="menu-content" [class.show]="menuOpen">
    <a href="#">Home</a>
    <a href="https://github.com/rafaeldouetts">GitHub</a>
    <a href="#projetos">Projetos</a>
    <a href="https://www.linkedin.com/in/rafael-douetts-13087718b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">Contatos</a>
</div>
}

@if(isDesktop){
  <header style="display: flex; justify-content: space-between; align-items: center;">
    <div style="color: white; font-size: 0.5rem;">
        <h2>Rafael Douetts</h2>
        <!-- <p>Arquiteto de Software | Angular, ASP.NET Core, Azure, Docker, Kubernetes</p> -->
        <h2>Sistema de informacao (<strong> UNIP) </strong>| Arquiteto de Software <strong>(FIAP)</strong> | Azure Developer Associate <strong>(KA SOLUTION</strong>)</h2>
    </div>

    <ul style="display: flex; flex-direction: row; list-style: none; padding: 0; margin: 0;">
        <li
            style="margin-right: 20px; font-size: 18px; color: white; font-family: Arial, sans-serif; text-transform: uppercase;">
            <a href="#" style="color: white; text-decoration: none; transition: color 0.3s;">
                Home
            </a>
        </li>
        <li
            style="margin-right: 20px; font-size: 18px; color: white; font-family: Arial, sans-serif; text-transform: uppercase;">
            <a href="https://github.com/rafaeldouetts" style="color: white; text-decoration: none; transition: color 0.3s;" target="_blank" rel="noopener noreferrer">
                GitHub
            </a>                
        </li>
        <li
            style="margin-right: 20px; font-size: 18px; color: white; font-family: Arial, sans-serif; text-transform: uppercase;">
            <a href="#projetos" style="color: white; text-decoration: none; transition: color 0.3s;">
                Projetos
            </a>
        </li>
        <li style="font-size: 18px; color: white; font-family: Arial, sans-serif; text-transform: uppercase;">
            <a href="https://www.linkedin.com/in/rafael-douetts-13087718b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" style="color: white; text-decoration: none; transition: color 0.3s;">
                Contatos
            </a>
        </li>
    </ul>
</header>
}